/* css styles */
p, h1 {
  color:black;
}

h2 {
  color: black;
  font-style:italic;
}

body, p{
  font-family: Georgia;
  font-size: 12px;
  background-color: white;
}

li, yl, al {
  color:brown;
}

a{
  color: blue;
}

a:hover {
  color:darkblue;